<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="form-section">
            <h1>Bem-vindo(a)!</h1>
            <p>Faça login para acessar o sistema SCEAS</p>
            
            <form id="login-form" method="POST">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Exemplo@email.com" required>

                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Pelo menos 8 caracteres" minlength="8" required>
                
                <!-- Container para mensagens de erro -->
                <div id="login-error" style="color: red; display: none;"></div>
                
                <div class="password-container">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" placeholder="Pelo menos 8 caracteres" minlength="8" required>
                    <a href="{% url 'forgot-password' %}" class="forgot-password">Esqueceu a senha?</a>
                </div>

                <button type="submit" class="btn">Login</button>
            </form>
            
            <p class="no-account">
                <a id="register-link">Cadastre-se</a>
            </p>

            <footer>
                <img src="../images/logo.png" alt="Logo Instituto Federal do Paraná" class="logo">
                <p>INSTITUTO FEDERAL DO PARANÁ<br><span>2024</span></p>
            </footer>
        </div>
        <div class="image-section">
            <img src="../images/imagem.jpg" alt="Imagem" class="background-image">
        </div>
    </div>
    <script src="../scripts/login.js"></script>
</body>

</html>
